<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Rut</th>
                <th scope="col">Correo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dato of registros">
                <td>{{dato._id}}</td>
                <td>{{dato.Nombre}}</td>
                <td>{{dato.Apellido}}</td>
                <td>{{dato.Rut}}</td>
                <td>{{dato.Correo}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>